{% extends 'base_cms.html' %}
{% set lang = h.lang() %}
{% import 'macros/form.html' as form %}

{% block title %}{{ _('Edit Event') }}{% endblock %}

{% block breadcrumb_content %}
<li>{% link_for _('Content Management System'), named_route='header_management.index' %}</li>
<li>{% link_for _('Events'), named_route='pages.events' %}</li>
{% if action == 'new' %}
<li class="active">{% link_for _('Add New'), named_route='pages.events_new' %}</li>
{% else %}
<li class="active">{% link_for _('Event Edit'), named_route='pages.events_edit', id=data.id %}</li>
{% endif %}
{% endblock %}

{% block primary_content_inner %}
<div class="container">
  <h1>{{_('Edit Event')}}</h1>
<form method="post" action="" data-module="basic-form" enctype="multipart/form-data">
    {{ h.csrf_input() }}
    {% if data and data.id %}
        <input type="hidden" name="id" value="{{ data.id }}">
    {% endif %}

    {% block errors %}
      {% set error_summary = h.convert_error_keys(error_summary) %}
      {{ form.errors(error_summary) }}
    {% endblock %}
    
    <!-- Title En -->
    {{ form.input('title_en', id='field-title_en', label=_('Title En'), placeholder='Enter event title in English', value=data.title_en, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}, is_required=true) }}

    {% set prefix = h.url_for('home_page.events_detail', id='') %}
    {% set domain = h.url_for('home_page.events_detail', id='', qualified=true) %}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<event>'} %}

    {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-event'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

    <!-- Title Ar -->
    {{ form.input('title_ar', id='field-title_ar', label=_('Title Ar'), placeholder='Enter event title in Arabic', value=data.title_ar, error=errors.title_ar, is_required=true) }}

    <!-- Image Upload -->
    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    {{ form.image_upload(
        data, 
        errors, 
        is_upload_enabled=h.uploads_enabled(), 
        is_url=is_url, 
        is_upload=is_upload,
        url_label=_('News Image (1200 x 400 pixels)'), 
        upload_label=_('News Image (1200 x 400 pixels)') 
      ) }}

    {% set start_date_formatted = h.date_str_to_datetime(data.start_date).strftime('%Y-%m-%d') if data and data.start_date else '' %}
    <div class="row mb-4">
        <div class="col-12">
            {{ form.input(
                'start_date',
                id='field-start_date',
                label=_('Start Date'),
                value=start_date_formatted,
                error=errors.start_date,
                type='date',
                is_required=true
            ) }}
        </div>
    </div>

    {% set end_date_formatted = h.date_str_to_datetime(data.end_date).strftime('%Y-%m-%d') if data and data.end_date else '' %}
    <div class="row mb-4">
        <div class="col-12">
            {{ form.input(
                'end_date',
                id='field-end_date',
                label=_('End Date'),
                value=end_date_formatted,
                error=errors.end_date,
                type='date',
                is_required=true
            ) }}
        </div>
    </div>

    {{ form.input('brief_en', id='field-brief_en', label=_('Brief En'), placeholder=_('Enter Brief in English'), value=data.brief_en, error=errors.brief_en)}}
    {{ form.input('brief_ar', id='field-brief_ar', label=_('Brief Ar'), placeholder=_('Enter Brief in Arabic'), value=data.brief_ar, error=errors.brief_ar) }}

    <!-- Content Editors -->
    {% set editor = h.pages_get_wysiwyg_editor() %}
    {% if editor == 'ckeditor' %}

      <!-- Content in English -->
      <div class="control-group">
        <label for="field-content-ck-en" class="control-label">{{ _('Content En') }}</label>
      </div>
      <textarea id="field-content-ck-en" name="content_en" placeholder="{{_('Content En')}}" data-module="ckedit" style="height:400px">{{ data.content_en }}</textarea>

      <!-- Content in Arabic -->
      <div class="control-group">
        <label for="field-content-ck-ar" class="control-label">{{ _('Content Ar') }}</label>
      </div>
      <textarea id="field-content-ck-ar" name="content_ar" placeholder="{{_('Content Ar')}}" data-module="ckedit" style="height:400px">{{ data.content_ar }}</textarea>
    {% else %}
      {{ form.textarea('content', id='field-content', label=_('Content'), placeholder=_('Enter content here'), value=data.content, error=errors.content) }}
    {% endif %}
    <!-- Submit Button -->
    <div class="d-flex justify-content-end mt-4">
      <button type="button" onclick="window.location='{{ h.url_for('pages.events') }}'" class="btn btn-primary btn-lg me-2">{{_('Cancel')}}</button>
      <button type="submit" class="btn btn-secondary btn-lg">{{_('Save')}}</button>
    </div>
  </form>
</div>
{% endblock %}

{% block main_content %}
   {{ self.flash() }}
   {{ self.toolbar() }}
   <div class="wrapper no-nav">
     {{ self.primary_content() }}
   </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/vendor/ckeditor/ckeditor.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {

        // Initialize CKEditor
        if (typeof CKEDITOR !== 'undefined') {
            CKEDITOR.replace('field-content-ck-ar');
            CKEDITOR.replace('field-content-ck-en');
        }
    });
  </script>
{% endblock %}
