{% extends 'base_cms.html' %}
{% set lang = h.lang() %}
{% import 'macros/form.html' as form %}
{% block title %}{{ _('Edit Page') }}{% endblock %}

{% block breadcrumb_content %}
<li>{% link_for _('Content Management System'), named_route='header_management.index' %}</li>
<li>{% link_for _('Pages'), named_route='pages.pages_index' %}</li>
{% if action == 'new' %}
<li class="active">{% link_for _('Add New'), named_route='pages.new' %}</li>
{% else %}
<li class="active">{% link_for _('Page Edit'), named_route='pages.edit', id=data.id %}</li>
{% endif %}
{% endblock %}

{% block primary_content_inner %}
<div class="container">
  <h1>{{ _('Add Pages') }}</h1>
  <form method="post" action="{{ h.url_for('pages.edit', id=data.id if data and data.id else '') }}" data-module="basic-form" enctype="multipart/form-data">
    {{ h.csrf_input() }}
    {% if data and data.id %}
        <input type="hidden" name="id" value="{{ data.id }}">
    {% endif %}
    {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

    <!-- Title En -->
    {{ form.input('title_en', id='field-title_en', label=_('Title En'), placeholder='Enter title in English', value=data.title_en, error=errors.title_en, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}, is_required=true) }}

    {% set prefix = h.url_for('pages.show', id='') %}
    {% set domain = h.url_for('pages.show', id='', qualified=true) %}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<page>'} %}

    {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-page'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

    <!-- Title Ar -->
    {{ form.input('title_ar', id='field-title_ar', label=_('Title Ar'), placeholder='Enter title in Arabic', value=data.title_ar, error=errors.title_ar, is_required=true) }}

    <!-- Image Upload -->
    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    {{ form.image_upload(
        data, 
        errors, 
        is_upload_enabled=h.uploads_enabled(), 
        is_url=is_url, 
        is_upload=is_upload,
        url_label=_('Cover Image (1200 x 400 pixels)'), 
        upload_label=_('Cover Image (1200 x 400 pixels)') 
      ) }}

    <!-- Publish Date -->
    <div class="mb-3">
      {% set publish_date_formatted =  h.date_str_to_datetime(data.publish_date).strftime('%Y-%m-%d') if data and data.publish_date else '' %}
        {{ form.input(
            'publish_date',
            id='field-publish_date',
            label=_('Publish Date'),
            value=publish_date_formatted,
            error=errors.publish_date,
            type='date'
        ) }}
    </div>

    <!-- Content Editors -->
    {% set editor = h.pages_get_wysiwyg_editor() %}
    {% if editor == 'ckeditor' %}

      <!-- Content in English -->
      <div class="control-group">
        <label for="field-content-ck-en" class="control-label">{{ _('Content En') }}</label>
      </div>
      <textarea id="field-content-ck-en" name="content_en" placeholder="{{_('Content En')}}" data-module="ckedit" style="height:400px">{{ data.content_en }}</textarea>

      <!-- Content in Arabic -->
      <div class="control-group">
        <label for="field-content-ck-ar" class="control-label">{{ _('Content Ar') }}</label>
      </div>
      <textarea id="field-content-ck-ar" name="content_ar" placeholder="{{_('Content Ar')}}" data-module="ckedit" style="height:400px">{{ data.content_ar }}</textarea>
    {% else %}
      {{ form.markdown('content_en', id='field-content_en', label=_('Content En'), placeholder=_('Enter content in English here'), value=data.content_en, error=errors.content_en, is_required=true) }}
      {{ form.markdown('content_ar', id='field-content_ar', label=_('Content Ar'), placeholder=_('Enter content in Arabic here'), value=data.content_ar, error=errors.content_ar, is_required=true) }}
    {% endif %}

    <!-- Submit Button -->
    <div class="d-flex justify-content-end mt-4">
      <button type="button" onclick="window.location='{{ h.url_for('pages.pages_index') }}'" class="btn btn-primary btn-lg me-2">{{ _('Cancel')}}</button>
      <button type="submit" class="btn btn-secondary btn-lg">{{ _('Save')}}</button>
    </div>
  </form>
</div>
{% endblock %}

{% block main_content %}
   {{ self.flash() }}
   {{ self.toolbar() }}
   <div class="wrapper no-nav">
     {{ self.primary_content() }}
   </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/vendor/ckeditor/ckeditor.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {

        // Initialize CKEditor
        if (typeof CKEDITOR !== 'undefined') {
            CKEDITOR.replace('field-content-ck-ar');
            CKEDITOR.replace('field-content-ck-en');
        }
    });
    </script>
{% endblock %}